{% extends 'base.html' %}
{% load i18n bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <form method="post" id="password_form">
            {% csrf_token %}
            {% bootstrap_form form %}
        </form>
        <a href="{% url 'profile_detail' %}"><button class="btn btn-secondary">{% trans 'Wróć' %}</button></a>
        <button form="password_form" type="submit" class="btn btn-primary loader-btn">{% trans 'Zamień' %}</button>
      </div>
    </div>
</div>
{% endblock content %}