{% extends 'base.html' %}
{% load i18n %}

{% block content %} 
<div class="container">
    <div class="row">
      <div class="col-xl-12">
            {% if "success" in request.GET %}
                <p>{% trans 'Zmiany Zapisane' %}</p>
            {% endif %}
            <h2>{% trans 'Profil' %}</h2>
            <p><span class="font-weight-bold">{% trans 'Login' %}:</span> {{ user.username }}</p>
            <p><span class="font-weight-bold">{% trans 'Imię' %}:</span> {{ user.first_name }}</p>
            <p><span class="font-weight-bold">{% trans 'Nazwisko' %}:</span> {{ user.last_name }}</p>
            <p><span class="font-weight-bold">{% trans 'Email' %}:</span> {{ user.email }}</p>
            <p><span class="font-weight-bold">{% trans 'Nr telefonu' %}:</span> {{ user.phone }}</p>
            <p><span class="font-weight-bold">{% trans 'Rola' %}:</span> {{ user.get_role_display }}</p>
            <a href="{% url 'change_password' %}"><button class="btn btn-primary loader-btn">{% trans 'Zmień hasło' %}</button></a>
            <a href="{% url 'profile_edit' %}"><button class="btn btn-primary loader-btn">{% trans 'Edytuj informacje' %}</button></a>
            </div>
        </div>
</div>
{% endblock content %}