{% extends "base.html" %}
{% load i18n common %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h1>{% trans 'Użytkownicy' %}</h1>
        <a href="{% url 'user_create' %}"><button class="btn btn-outline-secondary">{% trans 'Dodaj' %}</button></a>

        {% search_form search_form %}

        <table class="table table-striped table-sm my-2">
            <thead class="thead-dark">
            <tr>
                {% orderable_header "username" "Username" %}
                {% orderable_header "first_name" "Imię" %}
                {% orderable_header "last_name" "Nazwisko" %}
                {% orderable_header "email" "E-mail" %}
                {% orderable_header "phone" "Telefon" %}
                {% orderable_header "role" "Stanowisko" %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.phone %}
                        <td>{{ user.phone }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ user.get_role_display }}</td>
                    {% if request.user == user %}
                        <td></td>
                    {% else %}
                        <td><a href="{% url 'user_delete' pk=user.pk %}"><button class="btn btn-danger">{% trans 'Usuń' %}</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
