{% extends "base.html" %}   
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 text-center">
            <form method="post">{% csrf_token %} 
                <p>{% trans 'Czy napewno chcesz usunąć' %} "{{ object }}"?</p>
                <button type="button" class="btn btn-secondary loader-btn" onclick="history.back()">{% trans 'Wróć' %}</button>
                <button type="submit" class="btn btn-danger">{% trans 'Usuń' %}</button> 
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}