
{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            {% block card_header %}
            {% endblock %}
        </div>
        <div class="card-body">
            <div class="col-8">
                <form id="create-form" method="POST" enctype="multipart/form-data" autocomplete="off"> 
                    {% block form %}
                    {% csrf_token %} 
                    {% bootstrap_form form %} 
                    <button type="submit" class="btn btn-primary">{% trans 'Zapisz' %}</button>
                    <button type="button" class="btn btn-secondary loader-btn" onclick="history.back()">{% trans 'Wróć' %}</button>
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}