
{% extends "base.html" %}
{% load i18n crispy_forms_tags common bootstrap4 %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class=col></div>
        <div class="card">
            <div class="card-header">
                {% if operation == "create" %}
                    {% trans "Zarejestruj wywiad medyczny / badanie" %}
                {% elif operation == "edit" %}
                    {% trans "Edytuj wywiad medyczny / badanie" %}
                {% endif %}
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
        <div class=col></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% select2ify "id_afflictions" %}
{% select2ify "id_parasites" %}
{% select2ify "id_viruses" %}
{% select2ify "id_vaccines" %}
{% select2ify_like "resistance" %}
<script>
$ (document).ready( function() {
    $("*[class='dateinput']").datepicker({
        "startDate": "-5y",
        "format": "dd/mm/yyyy",
    });
    $("*[class='form-control'][name*=date]").datepicker({
        "startDate": "-5y",
        "format": "dd/mm/yyyy",
    });
    $("*[name*=date_start]").datepicker({
        "startDate": "-5y",
        "format": "dd/mm/yyyy",
    });
    $("*[name*=date_end]").datepicker({
        "startDate": "-5y",
        "format": "dd/mm/yyyy",
    });
    $("<br>").insertAfter("label[for*='resistance']");
});
$("a[class='add-row']").click(function(){
    $('[id*="resistance"]').select2();
    $("label[for*='resistance']").each(function(){
        if(!$(this).next().is("br")){
            $("<br>").insertAfter(this);
        }
    })
});
$("label[for='id_vaccines']").empty();
$("<legend>Szczepienia</legend>").insertBefore("div[id='div_id_vaccines']");
</script>
{% endblock %}