{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Leki' %}</h1>
    <a href="{% url 'medicine_create' %}"><button>{% trans 'Dodaj' %}</button></a>
    <table class="list">
        <tr>
            <th>{% trans 'Nazwa' %}</th>
            <th></th>
            <th></th>
        </tr>
        {% for medicine in object_list %}
            <tr>
                <th>{{ medicine.name }}</th>
                <th><a href="{% url 'medicine_detail' pk=medicine.pk %}"><button>{% trans 'Podgląd' %}</button></a></th>
                <th><a href="{% url 'medicine_delete' pk=medicine.pk %}"><button>{% trans 'Usuń' %}</button></a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}