{% extends "base.html" %}
{% load i18n common %}

{% block content %}
{% has_doctor_rights user as allowed %}
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>{% trans 'Objawy' %}</h1>
      {% if allowed %}
        <a href="{% url 'affliction_create' %}"><button class="btn btn-outline-secondary">{% trans 'Dodaj' %}</button></a>
      {% endif %}

      {% search_form search_form %}

      <table class="table table-striped table-sm my-2">
        <thead class="thead-dark">
          <tr>
            <!-- <th id="name_header">{% trans 'Nazwa' %} <i class="fa fa-caret-right" aria-hidden="true"></i></th> -->
            {% orderable_header "name" "Nazwa" %}
            <th width="10%"></th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody>
        {% for affliction in object_list %}
          <tr>
            <th>{{ affliction.name }}</th>
            {% if allowed %}
              <th><a href="{% url 'affliction_update' pk=affliction.pk %}"><button class="btn btn-primary">{% trans 'Edytuj' %}</button></a></th>
              <th><a href="{% url 'affliction_delete' pk=affliction.pk %}"><button class="btn btn-danger">{% trans 'Usuń' %}</button></a></th>
            {% else %}
              <th></th>
              <th></th>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}