{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Objawy' %}</h1>
    <a href="{% url 'affliction_create' %}"><button>{% trans 'Dodaj' %}</button></a>
    <table class="list">
        <tr>
            <th>{% trans 'Objaw' %}</th>
            <th></th>
        </tr>
        {% for affliction in object_list %}
            <tr>
                <th>{{ affliction.name }}</th>
                <th><a href="{% url 'affliction_delete' pk=affliction.pk %}"><button>{% trans 'Usuń' %}</button></a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}