{% extends "base.html" %}
{% load i18n common %}

{% block content %}
{% has_doctor_rights user as allowed %}
<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h3>{{ object }}</h3>
        <a href="{% url 'bacteria_list' %}"><button class="btn btn-secondary">{% trans 'Wróć' %}</button></a>
        {% if allowed %}
          <a href="{% url 'bacteria_update' pk=object.pk %}"><button class="btn btn-primary">{% trans 'Edytuj' %}</button></a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}