{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block menu %}
{% endblock %}
{% block login %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <h2>{% trans "Logowanie" %}</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary loader-btn">{% trans "Zaloguj" %}</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
