{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Pacjenci' %}</h1>
    <a href="{% url 'patient_create' %}"><button>{% trans 'Dodaj' %}</button></a>
    <table class="list">
        <tr>
            <th>{% trans 'Imię' %}</th>
            <th>{% trans 'Nazwisko' %}</th>
            <th>{% trans 'Płeć' %}</th>
            <th>{% trans 'Wykształcenie' %}</th>
            <th></th>
            <th></th>
        </tr>
        {% for patient in object_list %}
            <tr>
                <th>{{ patient.first_name }}</th>
                <th>{{ patient.last_name }}</th>
                <th>{{ patient.get_gender_display }}</th>
                <th>{{ patient.get_education_display }}</th>
                <th><a href="{% url 'patient_detail' pk=patient.pk %}"><button>{% trans 'Podgląd' %}</button></a></th>
                <th><a href="{% url 'patient_delete' pk=patient.pk %}"><button>{% trans 'Usuń' %}</button></a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}