{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Pasożyty' %}</h1>
    <a href="{% url 'parasite_create' %}"><button>{% trans 'Dodaj' %}</button></a>
    <table class="list">
        <tr>
            <th>{% trans 'Nazwa' %}</th>
            <th></th>
            <th></th>
        </tr>
        {% for parasite in object_list %}
            <tr>
                <th>{{ parasite.name }}</th>
                <th><a href="{% url 'parasite_detail' pk=parasite.pk %}"><button>{% trans 'Podgląd' %}</button></a></th>
                <th><a href="{% url 'parasite_delete' pk=parasite.pk %}"><button>{% trans 'Usuń' %}</button></a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}