{% extends "base.html" %}
{% load i18n common %}

{% block content %}
{% has_doctor_rights user as allowed %}
<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h3>{{ object }}</h3>
        <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
            <th>{% trans "Objawy" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if not object.afflictions.exists %}
                <tr>
                    <td>{% trans "Brak" %}</td>
                </tr>
            {% else %}
                {% for affliction in object.afflictions.all %}
                <tr>
                    <td>{{ affliction }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        </table>
        <a href="{% url 'fungus_list' %}"><button class="btn btn-secondary loader-btn">{% trans 'Wróć' %}</button></a>
        {% if allowed %}
          <a href="{% url 'fungus_update' pk=object.pk %}"><button class="btn btn-primary loader-btn">{% trans 'Edytuj' %}</button></a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}