{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Choroby' %}</h1>
    <a href="{% url 'sickness_create' %}"><button>{% trans 'Dodaj' %}</button></a>
    <table class="list">
        <tr>
            <th>{% trans 'Nazwa' %}</th>
            <th></th>
            <th></th>
        </tr>
        {% for sickness in object_list %}
            <tr>
                <th>{{ sickness.name }}</th>
                <th><a href="{% url 'sickness_detail' pk=sickness.pk %}"><button>{% trans 'Podgląd' %}</button></a></th>
                <th><a href="{% url 'sickness_delete' pk=sickness.pk %}"><button>{% trans 'Usuń' %}</button></a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}